<!doctype html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{theme/breezyCV/layout}">
<head>
    <link rel="stylesheet" th:href="@{'/admin/assets/custom/jquery-comment/jquery-comment.css'}">
</head>
<body>
<div layout:fragment="content">
    <div class="page-title">
        <h2>关于</h2>
    </div>

    <div class="single-page-area">
        <div class="single-page-content">
            <div class="section-content">

                <div class="row">
                    <div class="col-xs-12 col-sm-12">
                        <div class="block-title">
                            <h3>基本信息</h3>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div th:utext="${md.md2html(#objects.nullSafe(about.descr, '懒人一枚~~'))}"></div>
                    </div>
                </div>

                <div class="white-space-30"></div>

                <div class="row">
                    <div class="col-xs-12 col-sm-12">
                        <div class="block-title">
                            <h3>联系方式</h3>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="info-list">
                            <ul>
                                <li th:if="${#strings.isEmpty(#servletContext.getAttribute('configMap')['qq_account']) != true}">
                                    <span class="title">QQ 号</span>
                                    <span class="value" th:text="${#servletContext.getAttribute('configMap')['qq_account']}"></span>
                                </li>
                                <li th:if="${#strings.isEmpty(#servletContext.getAttribute('configMap')['wx_account']) != true}">
                                    <span class="title">微信号</span>
                                    <span class="value" th:text="${#servletContext.getAttribute('configMap')['wx_account']}"></span>
                                </li>
                                <li th:if="${#strings.isEmpty(#servletContext.getAttribute('configMap')['email']) != true}">
                                    <span class="title">Email</span>
                                    <span class="value" th:text="${#servletContext.getAttribute('configMap')['email']}"></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="white-space-30"></div>

                <!-- 评论 -->
                <div id="comment-container" class="comment-container"></div>

            </div>
        </div>
    </div>
    <script th:src="@{${prefix} + '/source/js/jquery-2.1.3.min.js'}"></script>
    <script th:src="@{'/admin/assets/custom/jquery-comment/jquery.cookie.js'}"></script>
    <script th:src="@{'/admin/assets/custom/jquery-comment/jquery-comment.js'}"></script>
    <script th:src="@{${prefix} + '/source/js/about.js'}"></script>
    <script type="text/javascript" th:inline="javascript">
        $(function () {
            let nickname = [[${#servletContext.getAttribute('configMap')['blog_author']}]];
            GuestBookManager.init(nickname);
        });
    </script>
</div>
</body>
</html>