<!doctype html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{theme/breezyCV/layout}">
<head>
    <link rel="stylesheet" th:href="@{${baseLink} + '/source/fonts/font-awesome/css/font-awesome.min.css'}" />
</head>
<body>
<div layout:fragment="content">
    <div class="page-title">
        <h2>[[${name}]] <small>([[${type}]])</small></h2>
    </div>

    <div class="single-page-area">
        <div class="single-page-content">
            <div class="section-content">

                <div class="row">
                    <div class="col-md-12" th:each="post,iterStat : ${pageInfo.list}">
                        <div class="timeline timeline-second-style clearfix">
                            <div class="timeline-item clearfix">
                                <div class="left-part">
                                    <h5 class="item-period" th:text="${post.year}"></h5>
                                    <span class="item-company" th:text="${post.month} + '-' + ${post.day}"></span>
                                </div>
                                <span class="divider"></span>
                                <div class="right-part">
                                    <h4 class="item-title">
                                        <a th:href="@{'/'+${post.link}}" th:text="${post.title}"></a>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" th:if="${pageInfo.total == 0}">
                        <div style="text-align:center;">
                            ~~找不到数据~~
                        </div>
                    </div>
                </div>

                <div class="white-space-20"></div>

                <nav class="pagination">
                    <span th:if="${pageInfo.hasPreviousPage}" class="nav-page">
                        <a data-pjax class="prev page-numbers" th:href="@{${pageInfo.pageNum-1} == 1 ? '/' + ${link} + '/' + ${name} + '/': '/' + ${link} + '/' + ${name} + '/page/' + ${pageInfo.pageNum-1}+'/'}" ><i class="fa fa-angle-left"></i></a>
                    </span>
                     <span th:each="pageNum : ${pageInfo.navigatepageNums}" th:if="${pageInfo.navigatepageNums.length} le '4' " class="nav-page">
                        <a th:if="${pageNum == pageInfo.pageNum}" href="javascript:void(0)" class="page-numbers current" th:text="${pageNum}"></a>
                        <span class="page" th:if="${pageNum != pageInfo.pageNum}">
                            <a data-pjax th:href="@{${pageNum} == 1 ? '/' + ${link} + '/' + ${name} + '/': '/' + ${link} + '/' + ${name} + '/page/' + ${pageNum}+'/'}" th:text="${pageNum}"></a>
                        </span>
                    </span>
                    <span th:each="pageNum, iterStat : ${pageInfo.navigatepageNums}" th:if="${pageInfo.navigatepageNums.length} gt '4' "  class="nav-page">
                       <span class="page" th:if="${pageNum == pageInfo.pageNum and iterStat.count gt 2 and iterStat.count le iterStat.size}">...</span>
                       <a th:if="${pageNum == pageInfo.pageNum}" href="javascript:void(0)" class="page-numbers current" th:text="${pageNum}"></a>
                       <span class="page" th:if="${pageNum == pageInfo.pageNum and iterStat.count le (iterStat.size - 2)}">...</span>
                       <span th:if="${pageNum != pageInfo.pageNum}">
                           <span class="page" th:if="${iterStat.count == 1}" ><a data-pjax th:href="@{'/' + ${link} + '/' + ${name} + '/page/1/'}" th:text="1"></a></span>
                           <span class="page" th:if="${iterStat.count == (iterStat.size)}"><a data-pjax th:href="@{'/' + ${link} + '/' + ${name} + '/page/' +  ${pageNum} +'/'}" th:text="${pageNum}"></a></span>
                        </span>
                    </span>
                    <span th:if="${pageInfo.hasNextPage}" class="nav-page">
                        <a data-pjax class="next page-numbers" th:href="@{'/' + ${link} + '/' + ${name} + '/page/' +  ${pageInfo.pageNum + 1}+'/'}" ><i class="fa fa-angle-right"></i></a>
                    </span>
                </nav>

            </div>
        </div>
    </div>

</div>
</body>
</html>